<section class="grow">
  <div class="container">
    <div class="grow__grid">
      <div class="grow-card grow-head">
        <h2 class="grow__title">
          <span>Why Rentals United?</span> Built for the will to grow beyond
        </h2>
        <p class="grow__desc">
          Backed by a global team committed to your success, Rentals United
          blends the heart of smart distribution with the strength of
          industry-leading technology.
        </p>
      </div>
      <div class="grow-card card-sm-bg-2">
        <div class="grow__title">260k+</div>
        <p class="grow__desc">Listings managed <br />across platforms</p>
      </div>
      <div class="grow-card card-sm-bg-3">
        <div class="grow__title">90+</div>
        <p class="grow__desc">Connected <br />sales channels</p>
      </div>
      <div class="grow-card card-sm-bg-4">
        <div class="grow__title">60+</div>
        <p class="grow__desc">PMS integrations worldwide</p>
      </div>
      <div class="grow-card card-sm-bg-5">
        <div class="grow__title">+27%</div>
        <p class="grow__desc">Revenue growth <br />YoY in 2025</p>
      </div>
      <div class="grow-card card-sm-bg-6">
        <div class="grow__title">$1.4B+</div>
        <p class="grow__desc">
          Generated <br class="sm-hide" />for <br class="sm-visible" />our
          clients
        </p>
      </div>
    </div>
  </div>
</section>
