<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="description" content="Registration page" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:wght@400,500;1,300..900&family=Plus+Jakarta+Sans:wght@400,500"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/main.min.css" />
    <link rel="shortcut icon" href="/img/svg/logo.svg" />
  </head>
</html>
