<section class="tabs-section">
  <div class="container">
    <div class="tabs-section__top">
      <p class="tabs-pretitle">Built for the will to grow beyond</p>
      <h2 class="tabs-title">More than a <span>channel manager</span></h2>

      <p class="tabs-subtitle">
        Rentals United gives you a complete tech stack to manage, distribute,
        and grow your vacation rental business.
      </p>
    </div>

    <simple-tabs>
      <div class="tabs-nav__scroll">
        <div class="tabs-nav">
          <button data-tab="1" class="tab-1 is-active">
            <img
              class="active"
              src="img/svg/tab-icon-1-active.svg"
              alt="tab icon 1"
              title="tab icon 1"
            />
            <img
              class="no-active"
              src="img/svg/tab-icon-1.svg"
              alt="tab icon 1"
              title="tab icon 1"
            />

            <span>Multi Calendar</span>
          </button>
          <button data-tab="2">
            <svg
              width="21"
              height="21"
              viewBox="0 0 21 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="5.10547"
                y="11.0645"
                width="3.40454"
                height="3.40454"
                rx="1.70227"
                transform="rotate(90 5.10547 11.0645)"
                stroke="#FF5B1F"
                stroke-width="1.23619"
              />
              <rect
                x="14.4688"
                y="10.2129"
                width="3.40454"
                height="3.40454"
                rx="1.70227"
                transform="rotate(-90 14.4688 10.2129)"
                stroke="#FF5B1F"
                stroke-width="1.23619"
              />
              <path
                d="M15.3187 9.36285L14.042 10.6396C13.1763 11.5052 12.7435 11.938 12.2229 12.0341C12.0188 12.0717 11.8095 12.0717 11.6054 12.0341C11.0848 11.938 10.6519 11.5052 9.78629 10.6396C8.92063 9.77391 8.48781 9.34108 7.96722 9.24506C7.76309 9.20741 7.5538 9.20741 7.34968 9.24506C6.82909 9.34108 6.39626 9.77391 5.53061 10.6396L4.25391 11.9163"
                stroke="#FF5B1F"
                stroke-width="1.23619"
              />
            </svg>

            <span>Website Builder</span>
          </button>
          <button data-tab="3">
            <svg
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="12.5469"
                y="6.27344"
                width="2.78805"
                height="2.78805"
                rx="1.39402"
                transform="rotate(90 12.5469 6.27344)"
                stroke="#FF5B1F"
              />
              <rect
                x="12.5469"
                y="11.8496"
                width="2.78805"
                height="2.78805"
                rx="1.39402"
                transform="rotate(90 12.5469 11.8496)"
                stroke="#FF5B1F"
              />
              <rect
                x="2.08984"
                y="4.87891"
                width="2.78805"
                height="2.78805"
                rx="1.39402"
                transform="rotate(-90 2.08984 4.87891)"
                stroke="#FF5B1F"
              />
              <path
                d="M3.48438 5.57617V10.4553C3.48438 11.7695 3.48438 12.4267 3.89267 12.835C4.30097 13.2433 4.95812 13.2433 6.27242 13.2433H9.75748"
                stroke="#FF5B1F"
              />
              <path
                d="M3.48438 4.87891C3.48438 6.1932 3.48438 6.85035 3.89267 7.25865C4.30097 7.66695 4.95812 7.66695 6.27242 7.66695H9.75748"
                stroke="#FF5B1F"
              />
            </svg>

            <span>Unified Inbox</span>
          </button>
          <button data-tab="4">
            <svg
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="12.5469"
                y="6.27344"
                width="2.78805"
                height="2.78805"
                rx="1.39402"
                transform="rotate(90 12.5469 6.27344)"
                stroke="#FF5B1F"
              />
              <rect
                x="12.5469"
                y="11.8496"
                width="2.78805"
                height="2.78805"
                rx="1.39402"
                transform="rotate(90 12.5469 11.8496)"
                stroke="#FF5B1F"
              />
              <rect
                x="2.08984"
                y="4.87891"
                width="2.78805"
                height="2.78805"
                rx="1.39402"
                transform="rotate(-90 2.08984 4.87891)"
                stroke="#FF5B1F"
              />
              <path
                d="M3.48438 5.57617V10.4553C3.48438 11.7695 3.48438 12.4267 3.89267 12.835C4.30097 13.2433 4.95812 13.2433 6.27242 13.2433H9.75748"
                stroke="#FF5B1F"
              />
              <path
                d="M3.48438 4.87891C3.48438 6.1932 3.48438 6.85035 3.89267 7.25865C4.30097 7.66695 4.95812 7.66695 6.27242 7.66695H9.75748"
                stroke="#FF5B1F"
              />
            </svg>

            <span>Advanced Analytics</span>
          </button>
          <button data-tab="5">
            <svg
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="12.5469"
                y="6.27344"
                width="2.78805"
                height="2.78805"
                rx="1.39402"
                transform="rotate(90 12.5469 6.27344)"
                stroke="#FF5B1F"
              />
              <rect
                x="12.5469"
                y="11.8496"
                width="2.78805"
                height="2.78805"
                rx="1.39402"
                transform="rotate(90 12.5469 11.8496)"
                stroke="#FF5B1F"
              />
              <rect
                x="2.08984"
                y="4.87891"
                width="2.78805"
                height="2.78805"
                rx="1.39402"
                transform="rotate(-90 2.08984 4.87891)"
                stroke="#FF5B1F"
              />
              <path
                d="M3.48438 5.57617V10.4553C3.48438 11.7695 3.48438 12.4267 3.89267 12.835C4.30097 13.2433 4.95812 13.2433 6.27242 13.2433H9.75748"
                stroke="#FF5B1F"
              />
              <path
                d="M3.48438 4.87891C3.48438 6.1932 3.48438 6.85035 3.89267 7.25865C4.30097 7.66695 4.95812 7.66695 6.27242 7.66695H9.75748"
                stroke="#FF5B1F"
              />
            </svg>

            <span>Auto Reviews</span>
          </button>
          <button data-tab="6">
            <svg
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="12.5469"
                y="6.27344"
                width="2.78805"
                height="2.78805"
                rx="1.39402"
                transform="rotate(90 12.5469 6.27344)"
                stroke="#FF5B1F"
              />
              <rect
                x="12.5469"
                y="11.8496"
                width="2.78805"
                height="2.78805"
                rx="1.39402"
                transform="rotate(90 12.5469 11.8496)"
                stroke="#FF5B1F"
              />
              <rect
                x="2.08984"
                y="4.87891"
                width="2.78805"
                height="2.78805"
                rx="1.39402"
                transform="rotate(-90 2.08984 4.87891)"
                stroke="#FF5B1F"
              />
              <path
                d="M3.48438 5.57617V10.4553C3.48438 11.7695 3.48438 12.4267 3.89267 12.835C4.30097 13.2433 4.95812 13.2433 6.27242 13.2433H9.75748"
                stroke="#FF5B1F"
              />
              <path
                d="M3.48438 4.87891C3.48438 6.1932 3.48438 6.85035 3.89267 7.25865C4.30097 7.66695 4.95812 7.66695 6.27242 7.66695H9.75748"
                stroke="#FF5B1F"
              />
            </svg>
            <span>Open API</span>
          </button>
        </div>
      </div>
      <div class="tabs-content">
        <div data-content="1" class="is-active">
          <div class="tab-layout">
            <div class="tab-layout__image">
              <img
                src="./img/tabs-img.jpg"
                alt="tab image"
                title="tab image"
                class="sm-hide"
              />
              <img
                src="./img/tabs-img-sm.jpg"
                alt="tab image"
                title="tab image"
                class="sm-visible"
              />
            </div>
            <div class="tab-layout__info">
              <div class="tab-item">
                <div class="sm-hide">
                  <div class="tab-item__icon">
                    <img
                      src="./img/svg/icon-map.svg"
                      alt="icon map"
                      title="icon map"
                    />
                  </div>
                </div>

                <div class="tab-item__desc">
                  <h4>
                    <div class="icon-sm-visible">
                      <img
                        src="./img/svg/icon-map.svg"
                        alt="icon map"
                        title="icon map"
                      />
                    </div>
                    <span>Value prop 1</span>
                  </h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. ea commodo consequat.
                  </p>
                </div>
              </div>
              <div class="tab-item">
                <div class="sm-hide">
                  <div class="tab-item__icon">
                    <img
                      src="./img/svg/icon-map.svg"
                      alt="icon map"
                      title="icon map"
                    />
                  </div>
                </div>
                <div class="tab-item__desc">
                  <h4>
                    <div class="icon-sm-visible">
                      <img
                        src="./img/svg/icon-map.svg"
                        alt="icon map"
                        title="icon map"
                      />
                    </div>
                    <span>Value prop 2</span>
                  </h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. ea commodo consequat.
                  </p>
                </div>
              </div>
              <div class="tab-item">
                <div class="sm-hide">
                  <div class="tab-item__icon">
                    <img
                      src="./img/svg/icon-map.svg"
                      alt="icon map"
                      title="icon map"
                    />
                  </div>
                </div>
                <div class="tab-item__desc">
                  <h4>
                    <div class="icon-sm-visible">
                      <img
                        src="./img/svg/icon-map.svg"
                        alt="icon map"
                        title="icon map"
                      />
                    </div>
                    <span>Value prop 3</span>
                  </h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. ea commodo consequat.
                  </p>
                </div>
              </div>

              <div class="sm-visible">
                <button class="btn">Get Started <span>&rsaquo;</span></button>
              </div>
            </div>
          </div>
        </div>
        <div data-content="2">
          <div class="tab-layout">
            <div class="tab-layout__image">
              <img src="./img/tabs-img.jpg" alt="tab image" title="tab image" />
            </div>
            <div class="tab-layout__image">
              <img src="./img/tabs-img.jpg" alt="tab image" title="tab image" />
            </div>
          </div>
        </div>
        <div data-content="3">
          <div class="tab-layout"></div>
        </div>
        <div data-content="4">44</div>
        <div data-content="5">55</div>
        <div data-content="6">66</div>
      </div>
    </simple-tabs>
  </div>
</section>
